body {
    margin: 0;
    padding: 0;
    background-color: #cecece;
    font-family: 'Poppins', sans-serif;
}

.r {
    height: 80px;
    width: 250px;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55),
                10px 10px 15px rgba(70, 70, 70, 0.12);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50px;
    background: #cecece;
}

.r input {
    display: none;
}

label {
    font-weight: 600;
    color: #303030;
    background: #cecece;
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.55),
                5px 5px 10px rgba(70, 70, 70, 0.12);
    transition: all 0.3s ease;
    cursor: pointer;
    transform: perspective(500px) translateZ(0);
}

input:checked + label {
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.7),
                10px 10px 20px rgba(70, 70, 70, 0.25);
    transform: perspective(500px) translateZ(30px);
    color: white;
    background-color: aqua;
    transform-origin: center;
}
